
# local configuration from user that is NOT to be lost on upgrades
# nor accidently publically comitted to github.
super.local
super.log

.*.swp

# temporary files from installs
bayes_pg.sql
squirrelmail-webmail-*.zip

